* {
    margin: 0;
    padding: 0;
}

body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(44, 139, 44);
}

.score {
    display: flex;
    width: 512px;
    justify-content: space-evenly;
    align-items: center;
}

.score p {
    padding-left: 10%;
    font-size: 2rem;
}